# models dictionary 
LLM__MODELS='{
    "kimi-k2-0905-preview": 
        {
            "api_key": "xxx", 
            "base_url": "https://api.moonshot.cn/v1"
        }, 
    "gpt-5.2": 
        {
            "api_key": "xxx", 
            "base_url": "https://api.openai.com/v1"
        }, 
    "openai/gpt-oss-120b": 
        {
            "api_key": "lm-studio", 
            "base_url": "http://[IP_ADDRESS]/v1"
        }
}'

# memory server 
MEMORY_SERVER_URL=''

#web tools
WEB_SERVER_URL=""

# rag test
RAG_API_KEY=""
RAG_BASE_URL=""

# mlflow track server
TRACK_SERVER="http://0.0.0.0:8088"
TRACK_NAME="LeanBridge"
OPENAI_AGENTS_DISABLE_TRACING=1

# leanexplore
LEANEXPLORE_API_KEY=""